.book.with-summary .book-summary {
    left: 0;
}
.book.with-header .book-summary {
    top: 105px;
}
.book-summary {
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
    position: absolute;
    top: 45px;
    /* left: -320px; */
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    padding-top: 30px;
    width: 320px;
    color: #364049;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
.book-summary ul.summary {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -o-transition: top .5s ease;
    transition: top .5s ease;
}
.book-summary ul.summary li {
    list-style: none;
}

.summary>.chapter {
    margin: 10px 0;
}
.book-summary ul.summary li.active>a {
    color: #1aad16;
    background: 0 0;
    text-decoration: none;
}
.book-summary ul.summary li a {
    text-overflow: initial;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    display: block;
    padding: 7px 10px;
    border-bottom: none;
    color: #364049;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    position: relative;
}
.summary>.chapter>a {
    font-size: 16px;
}
.summary>.chapter>a {
    padding-left: 29px!important;
}
.summary>.chapter.open>ul {
    display: block;
    margin-top: 3px;
    list-style: none;
}

.summary>.chapter>.articles {
    margin-left: 10px;
}
.book-summary ul.summary li ul {
    padding-left: 20px;
}
.book-summary ul.summary li {
    list-style: none;
}