.book.with-summary .book-summary {
    left: 0;
}
.book.with-header .book-summary {
    top: 105px;
}
.book-summary {
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
    position: absolute;
    top: 45px;
    /* left: -320px; */
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    padding-top: 30px;
    width: 320px;
    color: #364049;
    background: #fff;
    border-right: 1px solid rgba(0,0,0,.07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}

/*滚动条索道*/
.book-summary::-webkit-scrollbar{
        width: 6px;
    height: 6px;
}
.book-summary::-webkit-scrollbar-thumb{
    background-color: #c2c2c2;
    background-clip: padding-box;
    min-height: 28px;
}
.book-summary::-webkit-scrollbar-track {
       background-color: #FFF;
}
/*滚动条索道完毕*/
.book-summary ul.summary {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -o-transition: top .5s ease;
    transition: top .5s ease;
}
.book-summary ul.summary li {
    list-style: none;
}

.summary>.chapter {
    margin: 10px 0;
}
.book-summary ul.summary li.active>a {
    color: #1aad16;
    background: 0 0;
    text-decoration: none;
}
.book-summary ul.summary li>a >i{
    font-size: 12px;
    margin-right: 3px;

}
.book-summary ul.summary li a {
    text-overflow: initial;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    display: block;
    padding: 7px 10px;
    border-bottom: none;
    color: #364049;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    position: relative;
    text-decoration: none;
}
.summary>.chapter>a {
    font-size: 16px;
}
.summary>.chapter>a {
    padding-left: 5px!important;
}
.summary>.chapter.open>ul {
    display: block;
    margin-top: 3px;
    list-style: none;
}

.summary>.chapter>.articles {
    margin-left: 10px;
}
.articles a {
    font-size: 14px;
}
.book-summary ul.summary li ul {
    padding-left: 20px;
}
.book-summary ul.summary li {
    list-style: none;
}
.sub_nav_box {
    position: relative;
    background-color: #fff;
    font-size: 16px;
    height: 45px;
    z-index: 9;
    padding-left: 350px;
    background-color: #f6f8f9;
}

/*新增*/
body{
    overflow-y: hidden;
}
.right{
    width: 73.5%;
    height: 100%;
    position: absolute;
    left: 355px;
    top: 100px;
    overflow-y: auto;
}
/*滚动条索道*/
.right::-webkit-scrollbar{
        width: 6px;
    height: 2px;
}
.right::-webkit-scrollbar-thumb{
    background-color: #c2c2c2;
    background-clip: padding-box;
    min-height: 28px;
}
.right::-webkit-scrollbar-track {
       background-color: #FFF;
}
/*滚动条索道完毕*/
header {
    height: 30px;
    margin-bottom: 15px;
    font-family: 'Microsoft YaHei',Arial,"\5B8B\4F53",Helvetica,sans-serif;
}
header .header-stackup {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    min-width: 700px;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}
.ibx-container {
    max-width: 1000px;
    margin: 0 auto;
}
.row {
    padding-bottom: 0;
}
.header-logo-index {
    width: 180px;
}
.header-tool-allmod, .header-tool-cal, .header-tool-config, .header-tool-news, .header-tool-ps, .header-tool-user {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    text-decoration: underline;
    line-height: 50px;
}
.header-tool, .header-tool-search {
    float: right;
    margin-right: 10px;
}
.header-tu-img {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 5;
    margin-top: 2px;
    margin-left: 2px;
    color: #333;
}
.header-tool-user .header-tc-content {
    width: 130px;
    right: -59px;
    text-align: center;
    display: block;
}
.header-tc-content {
    position: absolute;
    border: 1px solid #ccc;
    right: -30px;
    top: 50px;
    background-color: #FFF;
    text-align: left;
    display: none;
    z-index: 2;
    color: #4b4b4b;
    font-size: 12px;
    height: auto!important;
    min-height: 32px;
    height: 32px;
    -webkit-box-shadow: 0 2px 5px #ccc;
    box-shadow: 0 2px 5px #ccc;
}